*{
    background: rgba(241, 226, 255, 0.832);
}
input{
    background: rgb(252, 216, 255);
    padding: 10px;
    
}
button{
    margin: 100px auto; 
    background: rgb(91, 74, 207);
    color: aliceblue;
    padding: 10px;

}