*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    max-width: 700px;
    margin: auto;
    text-align: center;
    border: 3px solid rgb(209, 5, 93);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(248, 95, 121, 0.295);
}
input{
    border: 2px solid rgb(0, 0, 0);
    width: 70%;
    padding: 10px;
}
button{
    width: 20%;
    margin: 15px 0;
    padding: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
ul{
    text-align: left;
}
ul li{
    border-bottom: 1px dashed rgb(0, 0, 0);
    margin: 10px 0;
}
span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: crimson;
    border-radius: 100%;
    text-align: center;
    color: aliceblue;
    margin: 0 10px;
    cursor: pointer;
}
span:hover{
    background-color: rgb(255, 175, 175);
}
